@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nanum+Gothic&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Edge / Chrome 기본 password eye 제거 */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

/* scrollbar 숨기기 */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE */
  scrollbar-width: none;     /* Firefox */
}

@layer base {
  body {
    font-family: 'Inter', 'Nanum Gothic', sans-serif;
  }
  img {
    @apply inline-block;
  }
}